#include "consts.h"

#define ENCX(n) MSG_ENC##n, IDM_ENCODING+n

"accel" ACCELERATORS
BEGIN
"^C", IDM_COPY
"^V", IDM_PASTE
"^X", IDM_CUT
"^s", IDM_SAVE
"^o", IDM_OPEN
VK_F3, IDM_FINDNEXT, VIRTKEY
VK_F3, IDM_FINDPREV, SHIFT, VIRTKEY
"^S", IDM_SAVE_AS, SHIFT
"^O", IDM_OPEN_NEW_INSTANCE, SHIFT
"^a", IDM_SELECTALL
"^g", IDM_GOTOLINE
"^f", IDM_FIND
"^h", IDM_REPLACE
"^z", IDM_UNDO
"^Z", IDM_REDO, SHIFT
VK_HOME, IDM_REALHOME, ALT, VIRTKEY
VK_F4, IDM_SWITCHCURSOR, VIRTKEY
VK_F4, IDM_JOINCURSOR, SHIFT, VIRTKEY
"^A", IDM_CURSORSELECT, SHIFT
VK_F5, IDM_RELOAD_FORCEENCODING, CONTROL, VIRTKEY
"^n", IDM_NEW
VK_F4, IDM_CLOSE, CONTROL, VIRTKEY
VK_DELETE, IDM_CRASH, CONTROL, SHIFT, VIRTKEY
END

IDD_INPUT DIALOG DISCARDABLE 10, 10, 400, 70
CAPTION L""
BEGIN
LTEXT L"", 1001, 10, 10, 375, 15
CONTROL L"", 1002, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_AUTOHSCROLL | CBS_DROPDOWN, 10, 30, 375, 15
DEFPUSHBUTTON MSG_OK, IDOK, 250, 50, 60, 15
PUSHBUTTON MSG_CANCEL, IDCANCEL, 325, 50, 60, 15
END

IDD_OUTPUT  DIALOG DISCARDABLE 10, 10, 400, 140
CAPTION L""
BEGIN
LTEXT L"", 1001, 10, 10, 375, 15
CONTROL L"", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_LEFT | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_READONLY | ES_WANTRETURN, 10, 30, 375, 85
DEFPUSHBUTTON MSG_CLOSE, IDCANCEL, 170, 120, 60, 15, WS_TABSTOP | WS_BORDER
END

IDD_INPUT2  DIALOG DISCARDABLE 10, 10, 400, 140
CAPTION L""
BEGIN
LTEXT L"", 1001, 10, 10, 375, 15
CONTROL L"", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_LEFT | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_WANTRETURN, 10, 30, 375, 85
DEFPUSHBUTTON MSG_OK, IDOK, 108, 120, 50, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_CANCEL, IDCANCEL, 242, 120, 50, 15, WS_TABSTOP | WS_BORDER
END

IDD_CHOICE DIALOG DISCARDABLE 10, 10, 400, 140
CAPTION L""
BEGIN
LTEXT L"", 1001, 10, 10, 375, 15
LISTBOX 1002, 10, 30, 375, 85, WS_TABSTOP | WS_BORDER | LBS_NOTIFY
DEFPUSHBUTTON MSG_OK, IDOK, 250, 120, 60, 15
PUSHBUTTON MSG_CANCEL, IDCANCEL, 325, 120, 60, 15
END

IDD_CONSOLE  DIALOG DISCARDABLE 10, 10, 400, 140
CAPTION MSG_LUADB_TITLE
BEGIN
CONTROL L"", 1001, "EDIT", WS_TABSTOP | WS_BORDER | ES_LEFT | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_READONLY, 10, 10, 375, 85
LTEXT MSG_EVALLBL, -1, 10, 100, 50, 15
CONTROL L"", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_LEFT | ES_AUTOHSCROLL, 65, 100, 320, 15
DEFPUSHBUTTON MSG_EVAL, 1003, 75, 120, 50, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_CLEAR, 1004, 175, 120, 50, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_CLOSE, IDCANCEL, 275, 120, 50, 15, WS_TABSTOP | WS_BORDER
END

IDD_GOTOLINE DIALOG DISCARDABLE 10, 10, 400, 50
CAPTION MSG_GOTOLINETITLE
BEGIN
LTEXT L"", 1001, 10, 10, 230, 15
CONTROL L"", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_LEFT, 250, 10, 140, 15
DEFPUSHBUTTON MSG_OK, IDOK, 250, 30, 60, 15
PUSHBUTTON MSG_CANCEL, IDCANCEL, 325, 30, 60, 15
END

IDD_SEARCHREPLACE DIALOG DISCARDABLE 10, 10, 480, 120
CAPTION L""
BEGIN
LTEXT MSG_REPL_SEARCH, 0, 10, 10, 150, 15
CONTROL L"", 1001, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_AUTOHSCROLL | CBS_DROPDOWN, 165, 10, 310, 15
LTEXT MSG_REPL_REPLACE, 0, 10, 30, 150, 15
CONTROL L"", 1002, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_DROPDOWN | CBS_AUTOHSCROLL, 165, 30, 310, 15
AUTOCHECKBOX MSG_REPL_CBLUA, 1004, 10, 50, 110, 15
AUTOCHECKBOX MSG_REPL_CBUTF8, 1007, 125, 50, 110, 15
AUTOCHECKBOX MSG_REPL_CBCASE, 1003, 240, 50, 225, 15
LTEXT MSG_REPL_DIRECTION, 0, 10, 70, 225, 15
AUTORADIOBUTTON MSG_REPL_DIRECTION_UP, 1005, 240, 70, 70, 15, WS_GROUP
AUTORADIOBUTTON MSG_REPL_DIRECTION_DOWN, 1006, 315, 70, 70, 15
DEFPUSHBUTTON MSG_OK, IDOK, 80, 90, 85, 15, WS_GROUP
PUSHBUTTON MSG_CANCEL, IDCANCEL, 315, 90, 85, 15
END

IDD_PROGRESS DIALOG DISCARDABLE 10, 10, 300, 70
CAPTION L""
BEGIN
CONTROL L"", 1002, PROGRESS_CLASS, WS_BORDER | PBS_SMOOTH, 10, 10, 280, 15
LTEXT L"", 1001, 10, 30, 280, 15
DEFPUSHBUTTON MSG_CANCEL, IDCANCEL, 110, 50, 80, 15
END

"menu" MENU
BEGIN
POPUP MSG_FILEMENU
BEGIN
MENUITEM MSG_NEW, IDM_NEW
MENUITEM MSG_OPEN, IDM_OPEN
MENUITEM MSG_OPEN_NEW_INSTANCE , IDM_OPEN_NEW_INSTANCE 
MENUITEM MSG_OPEN_FORCE, IDM_OPEN_FORCE
MENUITEM MSG_RELOAD, IDM_RELOAD
MENUITEM MSG_RELOAD_FORCEENCODING, IDM_RELOAD_FORCEENCODING
MENUITEM MSG_SAVE, IDM_SAVE
MENUITEM MSG_SAVE_AS, IDM_SAVE_AS
MENUITEM MSG_CLOSE2, IDM_CLOSE
POPUP MSG_RECENT_FILES
BEGIN
MENUITEM L"1.", IDM_OPEN_RECENT_FILE+0
MENUITEM L"2.", IDM_OPEN_RECENT_FILE+1
MENUITEM L"3.", IDM_OPEN_RECENT_FILE+2
MENUITEM L"4.", IDM_OPEN_RECENT_FILE+3
MENUITEM L"5.", IDM_OPEN_RECENT_FILE+4
MENUITEM L"6.", IDM_OPEN_RECENT_FILE+5
MENUITEM L"7.", IDM_OPEN_RECENT_FILE+6
END
MENUITEM MSG_EXIT, IDM_EXIT
END
POPUP MSG_EDITMENU
BEGIN
MENUITEM MSG_UNDO, IDM_UNDO
MENUITEM MSG_REDO, IDM_REDO
MENUITEM MSG_COPY, IDM_COPY
MENUITEM MSG_CUT, IDM_CUT
MENUITEM MSG_PASTE, IDM_PASTE
MENUITEM MSG_SELECTALL, IDM_SELECTALL
MENUITEM MSG_CURSORSELECT, IDM_CURSORSELECT
MENUITEM MSG_SWITCHCURSOR, IDM_SWITCHCURSOR
MENUITEM MSG_JOINCURSOR, IDM_JOINCURSOR
MENUITEM MSG_GOTOLINE, IDM_GOTOLINE
MENUITEM MSG_FIND, IDM_FIND
MENUITEM MSG_REPLACE, IDM_REPLACE
MENUITEM MSG_FINDNEXT, IDM_FINDNEXT
MENUITEM MSG_FINDPREV, IDM_FINDPREV
END
POPUP MSG_FORMATMENU
BEGIN
POPUP MSG_ENCODINGMENU
BEGIN
MENUITEM ENCX(0)
MENUITEM ENCX(1)
MENUITEM ENCX(2)
MENUITEM ENCX(3)
MENUITEM ENCX(4)
MENUITEM ENCX(5)
MENUITEM ENCX(6)
MENUITEM ENCX(7)
MENUITEM ENCX(8)
MENUITEM ENCX(9)
MENUITEM ENCX(10)
MENUITEM ENCX(11)
MENUITEM ENCX(12)
END
POPUP MSG_LINEENDINGMENU
BEGIN
MENUITEM MSG_LE_DOS, IDM_LE_DOS
MENUITEM MSG_LE_UNIX, IDM_LE_UNIX
MENUITEM MSG_LE_MAC, IDM_LE_MAC
END
POPUP MSG_INDENTMENU
BEGIN
MENUITEM MSG_INDENT_TAB, IDM_INDENT_TAB
MENUITEM MSG_INDENT_SPACES_DEF, IDM_INDENT_SPACES
END
MENUITEM MSG_LINEWRAP, IDM_LINEWRAP
MENUITEM MSG_AUTORELOAD, IDM_AUTORELOAD
MENUITEM MSG_SMARTHOME, IDM_SMARTHOME
MENUITEM MSG_KEEPINDENT, IDM_KEEPINDENT
MENUITEM MSG_SHOWSTATUS, IDM_SHOWSTATUS
END
POPUP MSG_TOOLS_MENU
BEGIN
MENUITEM MSG_CONSOLE, IDM_CONSOLE
END
POPUP MSG_HELPMENU
BEGIN
MENUITEM MSG_ABOUT, IDM_ABOUT
END
END

